$gap: 16px;

.container {
    max-width: calc(1224px + $gap * 2);
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;

    @media (max-width: 1100px) {
        padding-left: 16px !important;
        padding-right: 16px !important;
        max-width: 100%;
    }

    &-sm {
        max-width: calc(1115px + $gap * 2);

        @media (max-width: 1100px) {
            padding-left: 16px !important;
            padding-right: 16px !important;
            max-width: 100%;
        }
    }
}
