$orange: #FFD600;
$orange_dark: #FFB800;
$orange_light: #FFCA99;
$button_gradient: linear-gradient(89.6deg, #FFAD14 0.29%, #FFD531 99.62%);
$gray: #CDC9C9;
$gray_light: #E7E7E7;
$white: #FFFFFF;
$blue: #083893;
$black_light: #21384A;
$black: #000000;
