.hero {
    background-image: url('/images/hero-twig-1.png');
    background-repeat: no-repeat;
    background-position: bottom right;

    &-wrapper {
        background-color: $blue;
        background-image: url('/images/hero-twig-2.png');
        background-repeat: no-repeat;
        background-position: 85% 100%;
    }

    &-container {
        padding-top: 15em;
        padding-bottom: 8.25em;
        background-repeat: no-repeat;
        background-size: 32.1em;
        background-position: 113% 62%;
        background-origin: content-box;

        //@media (min-width: 1232px) {
        background-image: url('/images/hero.png');
        //}

        @media (max-width: 1232px) {
            background-origin: padding-box;
            background-size: 27.1em;
            padding-bottom: 330px;
            background-position: 84% 92%;
        }

        @media (max-width: 780px) {
            background-size: 18.1em;
            background-position: center 98%;
            background-origin: padding-box;
            padding-bottom: 330px;
        }

        @media (max-width: 1000px) {
            padding-top: 10em;

        }
    }

    &-content {
        max-width: 660px;
    }

    &-title {
        margin: 0;

        font-weight: 700;
        font-size: 2.35em;
        line-height: 1.2em;
        color: $white;

        @media (max-width: 700px) {
            font-size: 1.7em;
        }
    }

    &-description {
        max-width: 480px;
        font-weight: 500;
        font-size: 1.1em;
        margin-top: 2.6em;
        margin-bottom: 2.5em;
        line-height: 1.5em;
        letter-spacing: 0.012em;
        color: $gray_light;
    }
}
