.license {
    &-item {
        @media (max-width: 1500px) {
            padding: 0 15px;
        }

        img {
            height: 506px;

            @media (max-width: 1000px) {
                height: 350px;
            }
        }
    }
}
